<section id="jobs" class="mt-4">
  <h1 class="text-center font-bold text-2xl mb-4">Taavi jobs</h1>
  <table>
    <thead>
      <tr>
        <th>Stream</th>
        <th>Topic</th>
        <th>Content</th>
        <th>Enabled</th>
        <th>Run now</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody id="jobs-list">
      {{ range .jobs }}
      {{ template "JobRow" . }}
      {{ end }}
    </tbody>
  </table>

  <button hx-post="/api/reschedule"
    class="mt-4 border border-gray-700 rounded-md text-center px-6 py-3">Reschedule</button>

  <h2 class="font-bold text-xl my-4">Add new</h2>

  <form hx-post="/api/jobs" hx-target="#jobs-list" hx-swap="beforeend" class="flex flex-col gap-4">
    <select name="type" id="type">
      <option value="SIMPLE">Simple</option>
      <option value="RANDOM" disabled>Random</option>
    </select>

    <select name="stream_id" id="stream_id" required>
      <option disabled selected>Stream</option>
      {{ range .streams }}
      <option value="{{ .Name }}">{{ .Name }}</option>
      {{ end }}
    </select>

    <input type="text" name="topic_id" id="topic_id" placeholder="Topic" required>
    <input type="text" name="cron_time" id="cron_time" placeholder="CRON time">

    <textarea name="content" id="content" cols="30" rows="10" placeholder="Content" required></textarea>

    <button type="submit" class="mt-4 border border-gray-700 rounded-md text-center px-6 py-3">
      Create
    </button>
  </form>

  <p id="action-status"></p>
</section>
